<!-- Footer -->
<footer class="footer">
  <ul>
    <li class="foot-li"><a>© 2023 « SURGE » All rights reserved </a></li>
   <li class="foot-li"><a style="text-decoration: none" href="../about">About</a></li>
   <li class="foot-li"><a style="text-decoration: none" href="../contact">Contact</a></li>
   <li class="foot-ri"><i href="#" class="fa fa-facebook"></i>
    <hspace></hspace>
    <hspace></hspace>
    <i href="#" class="fa fa-twitter"></i>
  </li>
  </ul>  
</footer>
</body>
</html>