<!DOCTYPE html>
<html>
<head>
  <title>SURGE</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  <!-- Header -->
  <header class="header">
  <a href="../"><img src="/images/surgelogo.png" class="logo" alt="SURGE"></a>
    <nav class="nav">
      <ul>
        <li><a href="/trades/new">Start Trading</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </nav>
  </header>
<hr>
  <!-- Navigation -->
  <nav class="nav">
    <ul>
      <li><a href="/trades">Trades</a></li>
    </ul>
  </nav>