<%- include('./partials/header.ejs')%>
<main class="main">
    <h1>
        About 
    </h1>
    <p1>
        Our  philosophy is guided by a deep understanding of professional software’s demands on PC hardware – this enables us to specify our systems to maximize performance while minimizing costs. Every customer’s needs are different and with workstations of this magnitude, there is no ‘one size fits all’ solution.
    </p1>
</main>
<%- include('./partials/footer.ejs')%>