<%-include('./partials/header.ejs')%>
<!-- Main details -->
<main class="main">
    <img src="/images/surgeal.png" class="logom" alt="SURGE">  
    <h3>We are a platform that provides users their perfect setup!</h3>
    <br>
    <p>Hand-built and supported by our PC experts, We offer unbeatable performance & reliability at industry low prices.</p>
    <img src="/images/poster.png" alt="poster">
  </main>
<%-include('./partials/footer.ejs')%>