* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  
  .logo {
    height: 50px;
  }
  
  .logom {
    height: 100px;
  }
  
  .logol {
    height: 180px;
    width: 280px;
  }
  
  .nav {
    display: flex;
    background-color: #f2f2f2;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
  }
  
  .nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .main {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .footer {
    background-color: #f2f2f2;
    padding: 6px;
    list-style: none;
    text-align: left;
  }
  
  .foot-li {
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      float: left;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .category-container {
    text-align: center;
    white-space: normal;
    line-height: normal;
  }
  
  .foot-ri {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  ul {
    list-style: none;
  }



  form {
    max-width: 800px;
    margin: 0 auto;
  }
  
  form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  form input[type="text"],
  form textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  form input[type="text"]::placeholder,
  form textarea::placeholder {
    color: #999;
  }
  
  form button[type="submit"] {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #abb0b5;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  form button[type="submit"]:hover {
    background-color: #4c5765;
  }
  